@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


/*White mode*/
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 222, 173; /* เหลืองอ่อน */
  --background-end-rgb: 255, 222, 173;   /* เหลืองอ่อน */
}
/*Dark mode*/
.dark {
  --foreground-rgb: 255, 165, 0; /* สีส้ม */
  --background-start-rgb: 24, 24, 27; /* เทาเข้ม */
  --background-end-rgb: 24, 24, 27;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}

/* Theme switch variables */
.theme-switch {
  --toggle-size: 26px;
  --container-width: 5.625em;
  --container-height: 2.5em;
  --container-radius: 6.25em;
  --container-light-bg: #3D7EAE;
  --container-night-bg: #1D1F2C;
  --circle-container-diameter: 3.375em;
  --sun-moon-diameter: 2.125em;
  --sun-bg: #ECCA2F;
  --moon-bg: #C4C9D1;
  --spot-color: #959DB1;
  --circle-container-offset: calc((var(--circle-container-diameter) - var(--container-height)) / 2 * -1);
  --stars-color: #fff;
  --clouds-color: #F3FDFF;
  --back-clouds-color: #AACADF;
  font-size: var(--toggle-size);
}


/* Card Hover Effect ในหน้า About */

.card {
  position: relative;
  width: 100%;
  aspect-ratio: 3/2;
  background-color: #f2f2f2;
  border-radius: 10px;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.6s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f7e8b7;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 10px; /* ให้เนื้อหาโค้งตาม card */
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card__description {
  margin-top: 10px;
  font-size: 14px;
  color: #777;
  text-align: center;
  line-height: 1.4;
}


@keyframes food-spin {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1000px); /* ปรับตามความยาว */
  }
}
.animate-food-spin {
  animation: food-spin 5s ease-in-out forwards;
}
